:root{
    --marlott: rgba(238, 238, 180, 0.5);
    --hajoide: rgba(77, 213, 236, 0.712);
    --talalat: rgba(236, 77, 77, 0.712);
    --forgat: rgba(207, 236, 77, 0.712);
    --semmi: rgba(0, 0, 0, 0.0);
}

body{
    font-size: larger;
    color: white;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.wallhere.com%2Fphoto%2F2560x1440-px-ocean-battle-war-World-of-Warships-1338633.jpg&f=1&nofb=1&ipt=6c700f3fc7089fb4499bed0248297f19f5f0dc59ab0590495f0651bc3cfbde98&ipo=images);
}

.hajoTabla {
    border-collapse: separate;
    border-spacing: 0;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.maradekTabla{
    border-spacing: 0;
    display: inline-block;
    margin: 20px;
    text-align: center;
}
td{
    width: 50px;
    height: 50px;
    border: solid white 1px;
    margin: 0px;
    padding: 0px;
    transition: background-color 0.5s ease;
}
tr{
    border: solid white 1px;
    margin: 0px;
}


.bal{
    float: left;
}

.marlott{
    background-color: var(--marlott);
}
img{
    width: 100%;
    height: 100%;
    display: block;
}


td:first-child{
    border: none;
}

tr:first-child{
    border: none;
}

tr:first-child td {
  border: none;
}

h1{
    margin: 10px;
}




#btn {
    display: flex;
    width: 250px;
    text-align: center;
    align-items: flex-start;
    margin-left: 67px;
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: white;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #btn:hover,
  #btn:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  #btn:active {
    background: var(--color);
    color: #fff;
  }

/* tr:first-child {
  border: none;
} */
